doctype
html
  head
    title Cafeassorti
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui')
    link(rel='stylesheet', href='framework7/css/framework7.material.min.css')
    link(rel='stylesheet', href='css/main.css')
  body
    .statusbar-overlay
    .panel-overlay

    .panel.panel-left.panel-cover
      .view
        .pages
          .page(data-page='panel-left')

    .views

    - var script = dev ? 'framework7.js' : 'framework7.min.js'
    if (cordova)
      script(src='cordova.js')
    script(src='framework7/js/' + script)
    script(src='js/main.js')
